<div class="container">
<div class="show-page">
  <div class="show">
    <%= image_tag @office.photo %>
    <%= image_tag @office.user.avatar, class: "show-avatar" %>
  </div>
  <div class="d-flex inline justify-content-between ml-3">
    <h2 class="font-weight-normal"><%= @office.name %></h2>
    <div class="show-price">
    <h2> <%= humanized_money_with_symbol @office.price %> / Day </h2>
    </div>
  </div>
  <div class="show-infos">
    <div>
      <p class="mb-2"><%= @office.address %></p>
      <h3>Description</h3>
      <p><%= @office.description %></p>
    </div>
  </div>
  <div class="show-feature">
    <h3>Features</h3>
    <div class="row mt-3">
      <div class="col-4 mb-3">
        <i class="fas fa-wifi"></i>
        <p>Wifi</p>
      </div>
      <div class="col-4 mb-3">
        <i class="fas fa-mug-hot"></i>
        <p>Coffee/Tea</p>
      </div>
      <div class="col-4 mb-3">
        <i class="fas fa-print"></i>
        <p>Printer</p>
      </div>
      <div class="col-4 mb-3">
        <i class="fas fa-utensils"></i>
        <p>Kitchen</p>
      </div>
      <div class="col-4 mb-3">
        <i class="fas fa-paw"></i>
        <p>Pets allowed</p>
      </div>
      <div class="col-4 mb-3">
        <i class="fas fa-smoking"></i>
        <p>Smoker friendly</p>
      </div>
      <div class="col-4 mb-3">
        <i class="fas fa-drumstick-bite"></i>
        <p>Lunch included</p>
      </div>
      <div class="col-4 mb-3">
        <i class="fas fa-thermometer-empty"></i>
        <p>Heater & A/C</p>
      </div>
      <div class="col-4 mb-3">
        <i class="fas fa-plug"></i>
        <p>Adaptors</p>
      </div>
    </div>
  </div>
  <div class="show-review">
    <h3>Reviews</h3>
    <div class="d-flex inline justify-content-between">
      <p style="width: 65%;">Pretty cozy place to work in</p>
      <div class="show-stars">
        <% 5.times do %>
        <i id="card-trip-stars" class="fas fa-star"></i>
        <% end %>
      </div>
    </div>
    <div class="d-flex inline justify-content-between">
      <p style="width: 65%;">Georgous place to meet interesting people</p>
      <div class="show-stars">
        <% 4.times do %>
        <i id="card-trip-stars" class="fas fa-star"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div
  id="map"
  style="width: 100%;
  height: 270px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <br>
  <div class="show-flatpickr">


<%= render "bookings/new", office: @office, booking: @booking%>

</div>
</div>
