<div class="container">
  <div class="card booking-card" style="max-width: 56rem;">
    <div class="card-header">
      <h2 style="font-size: 26px;">Booking Details</h2>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%= link_to office_path(@booking.office) do %>
          <div class="card-product d-flex justify-content-between w-100">
              <div>
                <h2 style="font-size: 22px;"><%= @booking.office.name %></h2>
                <p><%= @booking.office.description%></p>
              </div>
              <div align="right">
                <%= image_tag @booking.office.photo, class: "img-booking-show text-right" %>
              </div>
          </div>
        <% end %>
      </li>
      <li class="list-group-item"><i class="fas fa-hashtag"></i>Booking id: <p> <%= @booking.id %></p></li>
      <li class="list-group-item d-inline-flex justify-content-between align-items-center">
        <div>
          <i class="fas fa-user"></i>Guest: <p> <%= @booking.user.email %> </p>
        </div>
      </li>
      <li class="list-group-item"><i class="fas fa-map-marker-alt"></i>Location: <p> <%= @booking.office.address %> </p></li>
      <li class="list-group-item"><i class="fas fa-users"></i>No. of guests: <p> <%= @booking.number_of_people %></p></li>
      <li class="list-group-item"><i class="fas fa-hashtag"></i>Booking status: <p> <%= @booking.status %></p></li>
      <li class="list-group-item"><i class="fas fa-hashtag"></i>Payment status: <p> <%= @booking.status %></p></li>
      <li class="list-group-item"><i class="far fa-calendar-alt"></i>Checkin-date: <p> <%= @booking.start_date %> </p> ---- Checkout-date: <p> <%= @booking.end_date %></p></li>
      <li class="list-group-item d-inline-flex justify-content-between align-items-center">
        <div>
          <i class="fas fa-euro-sign"></i>Total Price: <p> <%= humanized_money_with_symbol @booking.amount %>
        </div>
        <div>
           <strong><p> <%= @booking.payment_status%></p> </strong>
        </div>
      </li>
      <li class="list-group-item">Invoice Issued On: <p> <%= @booking.created_at.to_date %></p></li>

    </ul>

    <p>ADD THANK YOU TEXT WITH DASHBOARD PATH</p>
  </div>
</div>
