<div class="container">
  <div style="font-size: 22px;" class="text-center px-2">
    <p>Thank you for your booking, you will receive an email soon..</p>
  </div>
  <div class="d-flex justify-content-between">
   <div align="left" class="mb-2">
    <%= link_to "Go to dashboard", dashboards_path, style:"color: #11BF98"  %>
  </div>
  <div align="right" class="mb-2">
    <%= link_to "Pick another office", offices_path, style:"color: #11BF98"  %>
  </div>
  </div>
  <div class="card booking-card" style="max-width: 56rem;">
    <div class="card-header">
      <h2 style="font-size: 22px;">Booking Details</h2>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%= link_to office_path(@booking.office) do %>
          <div class="card-product d-flex justify-content-between w-100">
              <div>
                <h2 style="font-size: 22px;"><%= @booking.office.name %></h2>
                <p><%= @booking.office.description%></p>
              </div>
              <div align="right">
                <%= cl_image_tag @booking.office.photo, class: "img-booking-show text-right" %>
              </div>
          </div>
        <% end %>
      </li>
      </div>
      <div class="card details-card">

      <li class="list-group-item d-flex justify-content-between align-items-center"><div><i class="fas fa-hashtag"></i><u> Booking id:</u></div> <p> <%= @booking.id %></p></li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><div><i class="fas fa-user "></i><u>Guest:</u></div><p> <%= @booking.user.email %></p></li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><div><i class="fas fa-map-marker-alt"></i><u>Location: </u></div><p style=" text-align: right;
    width: 50%;"><%= @booking.office.address %> </p></li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><div><i class="fas fa-users"></i><u>No. of guests:</u></div><p> <%= @booking.number_of_people %></p></li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><div><i class="fas fa-hashtag"></i><u>Booking status: </u></div><p> <%= @booking.status %></p></li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><div><i class="fas fa-hashtag"></i><u>Payment status:</u> </div><p> <%= @booking.payment_status %></p></li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><div><i class="far fa-calendar-alt"></i><u>Checkin-date:</u></div> <p> <%= @booking.start_date %> </p></li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><div><i class="far fa-calendar-alt"></i><u>Checkout-date: </u></div><p> <%= @booking.end_date %></p></li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><div><i class="fas fa-euro-sign"></i><u>Total Price: </u></div><p> <%= humanized_money_with_symbol @booking.amount %></p></li>
      <li class="list-group-item d-flex justify-content-between align-items-center"><div><i class="fas fa-file-invoice"></i><u>Invoice Issued On:</u> </div><p> <%= @booking.created_at.to_date %></p></li>

    </ul>


</div>


