<!--Navbar-->
<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <!-- Navbar brand -->
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- Links -->
    <ul class="navbar-nav mr-auto pt-3" align="right">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Dashboard", dashboards_path, class: "nav-link", style: "color: #11BF98" %>
        </li>
        <li class="nav-item">
          <%= link_to "Host an office", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
           <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->
</nav>
<!--/.Navbar-->
