<%= form_tag offices_path, method: :get, remote: true do %>
    <%= text_field_tag :queryLocation,
      params[:queryLocation],
      class: "form-control search-filter",
      placeholder: "Location"
    %>

    <% if (params[:controller] == "offices" && params[:action] == "index") %>
      <div class="row my-4">
        <div class="col-4 show-flatpickr">
           <%= text_field_tag :queryStartDate,
              params[:queryStartDate],
              class: "form-control search-filter",
              placeholder: "Dates",
              as: :string,
              id: "start_date"
            %>
            <%= hidden_field_tag :queryEndDate,
              params[:queryEndDate],
              id: "end_date"
            %>

        </div>

        <div class="col-4">
          <%= text_field_tag :queryPrice,
            params[:queryPrice],
            class: "form-control search-filter",
            placeholder: "Price"
          %>
        </div>
         <div class="col-4">
          <%= text_field_tag :queryCapacity,
            params[:queryCapacity],
            class: "form-control search-filter",
            placeholder: "Capacity"
          %>
        </div>
      </div>


    <% end %>


    <%= submit_tag "Apply filters", class: 'btn btn-info', hidden: true %>

<% end %>

