<div id="banner-container">
  <div class="banner-text container mb-3">
    <h1>The office you don't want to leave</h1>
    <h3>Find an affordable & nearby space to work and meet other professionals</h3>
    <%= link_to offices_path do %>
    <div class='btn-ghost-banner'>Pick your office</div>
    <% end %>
  </div>
</div>
<div class="container">

  <h3 class="my-4 font-weight-bold">Popular cities for coworking </h3>

  <%= link_to offices_path(queryLocation: "Barcelona") do %>
    <div class="card-city barcelona" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dlo5xbrsn/image/upload/v1576596631/barcelona_vwri9g.jpg)">
      Barcelona
    </div>
  <% end %>

  <%= link_to offices_path(queryLocation: "Brussels") do %>
    <div data-aos="zoom-in" class="card-city brussels" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dlo5xbrsn/image/upload/v1576596727/brussels_dpzdna.jpg)">
      Brussels
    </div>
  <% end %>

  <%= link_to offices_path(queryLocation: "London") do %>
    <div data-aos="zoom-in" class="card-city london" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path 'london_ovoeqg.jpg' %>)">
      London
    </div>
  <% end %>

  <%= link_to offices_path(queryLocation: "Madrid") do %>
    <div data-aos="zoom-in" class="card-city amsterdam" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dlo5xbrsn/image/upload/v1576603141/madrid_nlqmk5.jpg)">
      Madrid
    </div>
  <% end %>

  <%= link_to offices_path(queryLocation: "Paris") do %>
    <div data-aos="zoom-in" class="card-city paris" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dlo5xbrsn/image/upload/v1576596550/paris_on5aay.jpg)">
      Paris
    </div>
  <% end %>

</div>
