
<div class="container mt-5">
  <% if current_user.avatar %>
  <h1><%= image_tag current_user.avatar, class:"avatar mr-3" %>Welcome <%= current_user.first_name %>,</h1>
  <% end %>
  <ul class="nav nav-tabs mt-5">
    <li class="nav-item">
      <a class="nav-link active" href="#1a" data-toggle="tab">My bookings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#2a" data-toggle="tab">My booking requests</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#3a" data-toggle="tab">My offices</a>
    </li>
  </ul>
  <div class="tab-content clearfix">
    <div class="tab-pane active" id="1a">
      <% if current_user.bookings == [] %>
      <p>No bookings made so far...</p>
      <% else %>
      <% @bookings.each do |booking| %>
      <%= link_to booking_path(booking) do %>
      <div class="card-dashboard" data-aos="zoom-in">
        <%= cl_image_tag booking.office.photo %>
        <div class="card-dashboard-infos">
          <div class="d-flex justify-content-between align-items-center">
            <div class="card-left">
              <p>Booking id: <%= booking.id %></p>
              <p>Office: <%= booking.office.name %></p>
              <p>Location: <%= booking.office.address %></p>
            </div>
            <div class="card-right">
              <%= link_to booking_path(booking), method: :delete, data: { confirm: "Are you sure you wish to delete? (if less than 48h before your stay, you will not be refunded...)" } do %>
              <i class="fas fa-trash-alt delete"></i>
              <% end %>
              <% if booking.status == "closed" && booking.reviews == [] %>
              <%= link_to '<p>Add review</p>'.html_safe, new_booking_review_path(booking), style: 'color: #11BF98; font-weight: bold' %>
              <% elsif booking.status == "closed" && booking.reviews != [] %>
              <% booking.reviews.each do |review| %>
              <div class="d-flex">
                <div>
                  <h4 class="rating"><%= review.rating %>/5</h4>
                </div>
              </div>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      <% end %>
      <%= link_to offices_path do %>
        <i class="fas fa-plus-circle add"></i>
      <% end %>
    </div>

    <div class="tab-pane" id="2a">
      <% if @bookings_received == [] %>
      <p>No booking request received so far...</p>
      <% else %>
      <% @bookings_received.each do |booking| %>
      <div class="card-dashboard" data-aos="zoom-in">
        <%= cl_image_tag booking.office.photo %>
        <div class="card-dashboard-infos">
          <div class="d-flex">
            <div class="card-left">
              <h2>Booking id: <%= booking.id %></h2>
              <h2>Office: <%= booking.office.name %></h2>
              <h2>Location: <%= booking.office.address %></h2>
            </div>
            <div class="card-right">
              <% if booking.status == "Pending"  %>
                <%= link_to "<i class='fas fa-check-circle accept'></i>".html_safe, accept_booking_path(booking) %>
                <%= link_to "<i class='fas fa-times-circle reject'></i>".html_safe, reject_booking_path(booking), class: "reject-icon" %>
              <% end %>
              <h3>Booking status: <%= booking.status %>  </h3>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>

    <div class="tab-pane" id="3a">
      <% if @offices == [] %>
      <p>No office submitted so far...</p>
      <% else %>
      <% @offices.each do |office| %>
      <%= link_to office_path(office) do %>
      <div class="card-dashboard" data-aos="zoom-in">
        <%= cl_image_tag office.photo %>
        <div class="card-dashboard-infos">
          <div class="d-flex">
            <div class="card-left">
              <h2>Office id: <%= office.id %></h2>
              <h2>Office name: <%= office.name %></h2>
              <h2>Location: <%= office.address %></h2>
            </div>
            <div class="card-right">
              <%= link_to edit_office_path(office) do %>
                <i class="fas fa-pencil-alt edit"></i>
              <% end %>
              <%= link_to office_path(office), method: :delete, data: { confirm: "Are you sure you wish to delete?" } do %>
                <i class="fas fa-trash-alt delete"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      <% end %>
      <%= link_to new_office_path do %>
        <i class="fas fa-plus-circle add"></i>
      <% end %>
    </div>
  </div>
</div>

